[user]
    email = krle@tilda.center
    name = Krstan Vjestica
[color]
    ui = auto
[github]
    user = krlex
[alias]
    wdiff = diff --word-diff=color
[fetch]
    prune = true
[core]
	editor = nvim
#[core]
#	editor = vim
[hub]
	protocol = https
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
